<h1>Update Password</h1>
<%= form_with model: Current.user, url: password_path, method: :patch do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label "Current Password", class: "form-label" %>
    <%= form.password_field :current_password, class: "form-control", placeholder: "Enter current password", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label "New Password", class: "form-label" %>
    <%= form.password_field :new_password, class: "form-control", placeholder: "Enter new password", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label "New Password Confirm", class: "form-label" %>
    <%= form.password_field :new_password_confirmation, class: "form-control", placeholder: "Enter new password again", required: true %>
  </div>
  <%= form.submit "Update", class: "btn btn-secondary" %>
<% end %>
