<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= flash[:success] %>
  <%= render partial: "shared/close_button" %>
</div>
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <%= flash[:info] %>
  <%= render partial: "shared/close_button" %>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= flash[:warning] %>
  <%= render partial: "shared/close_button" %>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= flash[:danger] %>
  <%= render partial: "shared/close_button" %>
</div>
